<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스 지정-->
<mapper  namespace="com.shyb.evcharging.user.repository.mybatis.UserMapper">
    <insert id ="save" useGeneratedKeys="true" keyProperty="id">
        insert into users (name, email)
        values (#{name}, #{email})
    </insert>

    <select id="findById" resultType="User">
        select id, name, email
        from users
        where id = #{id}
    </select>

    <select id="findAll" resultType="User">
        select id, name, email
        from users
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
        </where>
    </select>
</mapper>
