<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스 지정-->
<mapper  namespace="com.shyb.evcharging.user.repository.mybatis.UserMapper">
    <insert id ="save" useGeneratedKeys="true" keyProperty="id">
        insert into users (name, password, phone, email)
        values (#{name}, #{password}, #{phone}, #{email})
    </insert>

    <select id="findById" resultType="UserResponseDto">
        select id, name, phone, email
        from users
        where id = #{id}
    </select>

    <select id="findByEmail" resultType="UserResponseDto">
        select id, name, phone, email
        from users
        where email = #{email}
    </select>

    <select id="findAll" resultType="User">
        select id, name, email
        from users
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like concat('%', #{email}, '%')
            </if>
        </where>
    </select>

    <update id="update">
        update users
        <trim prefix="set" suffixOverrides=",">
            <if test="userModifyRequestDto.name !=null">name = #{userModifyRequestDto.name},</if>
            <if test="userModifyRequestDto.phone !=null">phone = #{userModifyRequestDto.phone},</if>
            <if test="userModifyRequestDto.password !=null">password = #{userModifyRequestDto.password}</if>
        </trim>
        where id = #{id}
    </update>
</mapper>
